.container{
  display: flex;
  align-items: center;
  padding-top: 100px;
  flex-direction: column;

}

h1{
  color: #ffd;
  font-size: 32px;

}

form{
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border:10px;
  background-color: #2E2D4E;
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;


  & button{
    border-radius: 30px;
    background-color: #8B8AE1;
    height: 40px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  color: #fff;
  font-size: 18px;
  }

  & button:hover{
    opacity: 0.8
    }

& input{
  border: 1px, solid #48456c;
  border-radius: 30px;
  height: 40px;
  background-color: #363653;
color: #fff;
font-size: 16px;
padding-left: 10px;
outline: none;
}
  }

  .card{
    display: flex;
    justify-content: center;
    background-color: #2E2D4E;
    margin: 10px;
    padding: 10px;
    width: 400px;
    border-radius: 10px;
  
  & p{

    color: #fff;
    font-weight:bold  ;
  }
  & span{
    font-weight: normal;
  }
  & button{
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  & button:hover{
    opacity: 0.8;
  }
  }